receivers:
  otlp:
    protocols:
      grpc:
        endpoint: "0.0.0.0:4317"
      http:
        endpoint: "0.0.0.0:4318"

exporters:
  otlp: # Xuất trace sang Jaeger qua OTLP gRPC
    endpoint: "jaeger:4317"
    tls:
      insecure: true

  prometheus: # Xuất metric cho Prometheus scrape
    endpoint: "0.0.0.0:8889"

processors:
  batch: {}

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp]

    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheus]