version: '3.8'

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: controlhub_qdrant
    ports:
      - "6333:6333" # Access REST API
      - "6334:6334" # Access gRPC
    volumes:
      - ./qdrant_storage:/qdrant/storage
    restart: unless-stopped
    environment:
      - QDRANT__SERVICE__GRPC_PORT=6334

  ollama:
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ollama_models:/root/.ollama

volumes:
  ollama_models:
